*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
.theme{
    background-image: url(images/top\ background.png);
    width:1920px;
    height:636px;

}
.navigation_menu{

    position: absolute;
    top:70px;
    width: 1920px;
    height: 60px;
    margin: 0 auto;
    background-color: #383838;
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.image{display: grid;
    width: 200px;
    height: 82px;
    background-image: url(images/logo\ bg.png);
    align-content: center;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: xx-large;
    

}

 .nav_links li,a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
    
}
.clicked {
    color: #b297c4;
    background-color:black;
    
}
.nav_links{
    list-style: none;
    
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}



.photo{
    display: grid;
    
    justify-content: center;
    align-items: center;
    background-image: url(images/Layer\ 1.png);
    width: 1170px;
    height: 467px;
    margin: 0 auto;
    position: relative;
    top:189px;
    
    
}
.arrow{
    position: absolute;
    left: 20px;

}
.phrases{
    height: 365px;
    
    
}
.person{
    display: block;
    margin: 0 auto;
  opacity: 0.4;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.274);
  padding-bottom: 22px;
    
}
.first_phrase{
    
   
    font-size: 60px;
  opacity: 0.9;
  font-family:  'Fjalla One', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
  padding-bottom: 31px;
}
.second_phrase{
    
  font-size: 22px;
  opacity: 0.9;
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgba(255, 255, 255, 0.829);
  padding-bottom: 21px;
}

.border{
    
    
  
}
.third_phrase{
        
  font-size: 18px;
  opacity: 0.6;
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 34px;

  
}
